@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --primary-color: #21bf73;
  --secondary-color: #198754;
  --dark-color: #2e374f;
  --light-color: #6c757d;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.2;
  background-color: #f4f4f4;
  background-image: url("../img/bg-lft.svg");
  background-repeat: no-repeat;
  background-position: top/right;
  background-size: 45%;
}

h1,
h2,
h3 {
  font-weight: 800;
}
img {
  width: 100%;
}
.btn-primary {
  display: inline-block;
  text-decoration: none;
  padding: 8px 24px;
  font-weight: 500;
  color: #fff;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  border-radius: 800px;
}

.btn-secondary {
  display: inline-block;
  text-decoration: none;
  padding: 8px 24px;
  font-weight: 500;
  color: #fff;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.light-text {
  color: var(--light-color);
}
.primary-text {
  color: var(--primary-color);
}
.heading-title {
  width: 500px;
  padding: 20px;
  background: url("../img/title.svg") no-repeat center center/auto;
}
.heading-2 {
  width: 150px;
  height: 25px;
  background: url("../img/title.svg") no-repeat center center/cover;
}

/* Navbar  */
.navbar {
  font-weight: 600;
}
.navbar .navbar-brand img {
  width: 90px;
}
.navbar .nav-link {
  color: var(--dark-color);
  margin: 0 0.8rem;
}

.active,
.nav-link:hover {
  color: #21bf73 !important;
}

.navbar::before {
  content: "";
  width: 36%;
  height: 760px;
  background: #b0eacd;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 30%;
  z-index: -9;
}
/* Hero  */

#hero-area h1 {
  font-size: 3.2rem;
}

#hero-area input[type="search"] {
  border: 0;
  outline: none;
}

#hero-area .search-box {
  width: 500px;
  margin: 30px auto;
}

#hero-area .search-bar {
  position: relative;
  width: 500px;
  height: 60px;
}

#hero-area .search-bar input[type="search"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 100px 10px 20px;
  border-radius: 30px;
}

#hero-area .search-bar .search-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 14px 20px;
  border: 0;
  background: var(--primary-color);
  color: #fff;
  border-radius: 30px;
}

#hero-area .bg-1 {
  background-image: url("../img/bg-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero-area .brand-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#hero-area .brand-icon img,
#hero-area .brand-icon span {
  width: 60px;
  height: 60px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  margin-right: -20px;
}

#recommended-area .box-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 140px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(128, 128, 128, 0.2);
}

#recommended-area .round-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
#recommended-area .round {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #dee2e6;
}
#recommended-area .box {
  width: 200px;
  font-size: 0.9rem;
}
#choose-area p {
  font-size: 14px;
  line-height: 20px;
}
#choose-area .bg-choose {
  background-image: url("../img/choose.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#choose-area .list {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

#choose-area .list .list-group-item {
  margin-left: 28%;
  line-height: 670%;
}

#our-courses {
  margin-top: 100px;
}
#testimonilas-area {
  height: 70vh;
  background: var(--primary-color);
}

#testimonilas-area .brand-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#testimonilas-area .brand-icon img,
#testimonilas-area .brand-icon span {
  width: 60px;
  height: 60px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  margin-right: -20px;
}

#testimonilas-area .right {
  width: 320px;
}

#testimonilas-area .carousel-box {
  position: relative;
}

#testimonilas-area .carousel-box .left {
  width: 320px;
  border: 1px solid #ddd;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 100px;
}
